.nav-bar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 28px 111px;
    margin-bottom: 90px;
}

.menu{
    align-items: center;
    display: inline-flex;
    gap: 40px;
    font-family: "Inter-Regular", Helvetica;
}

.menu .market{
    color: #FFFFFF;
    border: 1px solid #D6EF0E;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1px;
}

.menu .div{
    color: #FFFFFDB8;
}

.CTA {
    background-color: #d6ef0e;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    height: 48px;
    padding: 12px 40px;
  }

  .CTA .contact {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }