.popular{
    margin-top: 100px;
}

.head-btn{
    position: relative;
    display: flex;
    /* margin-top: 600px; */
    justify-content: space-between;
}

.heading4{
    position: absolute;
    top: 600px;
    left: 150px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    line-height: 27.6px;
    font-family: 'Canela Regular', sans-serif;
}

.bttbn{
    position: absolute;
    top: 660px;
    left: 1200px;
    width: 134px;
    height: 52px;
    border-radius: 8px;
    padding: 12px 40px;
    background-color: #D6EF0E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
}

.pics3{
display: flex;
/* flex-wrap: wrap; */
/* flex: 1; */
margin-top: 800px;
gap: 20px;
}

.pics4{
    width: 850px;
    margin-left: 90px;
    /* display: flex; */
    
}

.pics4 > * {
    margin-left: 15px;
    margin-bottom: 20px;
}


